<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uml2cloud.profile -->
      <package
            uri="http://www.uclm.es/UML/profiles/UML2Cloud/1"
            class="es.uclm.uml2cloud.profile.uml2cloudprofile.UML2CloudProfilePackage"
            genModel="model/uml2cloud.profile.genmodel"/>
   </extension>

</plugin>
