<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.*"
            id="es.uclm.uml2cloud.m2t.simcan.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="es.uclm.uml2cloud.m2t.simcan.ui.popupMenus.AcceleoGenerateGenerateSIMCANFilesAction"
               enablesFor="+"
               id="es.uclm.uml2cloud.m2t.simcan.ui.popupMenus.acceleoGenerateGenerateSIMCANFilesAction"
               icon="icons/default.gif"
               label="Generate SIMCAN Files"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
